{% extends "base.html" %}
{% block body_block %}

    {% if user.is_authenticated %}
        <div class="container">
        <div class="jumbotron">

        <h2>Welcome {{ user.username }}!</h2>

            </div>
        </div>
    {% endif %}



<div class="jumbotron">
  <div class="container text-center">
    <h1>Next Launch</h1>
		<div class="col-md-6">
            <h2>{{ lone.name }}</h2>
            <h3>{{ lone.locationName }}</h3>
            <h4>{{ lone.missionName }}</h4>
            <h5>{{ lone.missionDesc }}</h5>
		</div>
		<div class="col-md-6">
            <div class="container center-block">
                <h4>{{ lone.rocketName }}</h4>
                <img src="{{ lone.rocketImg }}" style="width:250px;" id="thumbnals">
                <h5>Count down: </h5><h5 id="countdown"></h5>
            </div>

		</div>
  </div>
</div>

<div class="container-fluid bg-3 text-center">
  <h3>Following Launches</h3><br>
  <div class="row">
  <div class="row">
      {% for launch in lset %}
          <div class="col-sm-3 ">
              <h4>{{ launch.name }}</h4>
              <img src="{{ launch.rocketImg }}" class="img-responsive" id="thumbnals" style="width:250px " alt="Image">
          <h5>{{ launch.missionDesc }}</h5>
    </div>
      {% endfor %}

  </div>
</div><br>






<script>

    // Set the date we're counting down to
var countDownDate = new Date("{{ lone.windowStart }}").getTime();

// Update the count down every 1 second
var x = setInterval(function() {

  // Get today's date and time
  var now = new Date().getTime();

  // Find the distance between now and the count down date
  var distance = countDownDate - now;

  // Time calculations for days, hours, minutes and seconds
  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);

  // Output the result in an element with id="demo"
  document.getElementById("countdown").innerHTML = days + "d " + hours + "h "
  + minutes + "m " + seconds + "s ";

  // If the count down is over, write some text
  if (distance < 0) {
    clearInterval(x);
    document.getElementById("countdown").innerHTML = "EXPIRED";
  }
}, 1000);
</script>
{% endblock %}
